In [1]:
#Importing datasets

import pandas as pd
accidents_2017 = pd.read_csv("../datasets/1.-Transportation/accidents-2017.csv")
motos_2017 = pd.read_csv("../datasets/1.-Transportation/2017_cilindrada_motos.csv")


accidents_2016 = pd.read_csv("../datasets/1.-Transportation/2016_accidents_gu_bcn.csv")
motos_2016 = pd.read_csv("../datasets/1.-Transportation/2016_cilindrada_motos (1).csv")

In [2]:
#Creating  "One-Hot Coding" column to help calculating bulk number of accidents when the dataframe is grouped,
#Also adding a column for year

#accidents.insert(loc= len(accidents.columns),column="Accidents", value = 1)


accidents_2016.insert(loc= len(accidents_2016.columns),column="Accidents", value = 1)
accidents_2017.insert(loc= len(accidents_2017.columns),column="Accidents", value = 1)
#accidents_2016.insert(loc= len(accidents_2016.columns),column="Year", value = 2016)
#accidents_2017.insert(loc= len(accidents_2017.columns),column="Year", value = 2017)



#Checking for empty values that might need cleaning (Spoiler:Everything is fine)

print(accidents_2016.info())
print(motos_2016.info())
print(accidents_2017.info())
print(motos_2017.info())

#Reducing datasets only to the columns that will be used during the analysis, and renaming when necessary(CAT>ENG)

accidents_2017 = accidents_2017[["District Name","Mild injuries","Serious injuries","Victims","Accidents"]]
accidents_2016 = accidents_2016[["Nom_districte","Numero_lesionats_lleus","Numero_lesionats_greus","Numero_victimes","Numero_morts","Accidents"]]

accidents_2016.rename(columns={"Nom_districte":"District Name",
"Numero_lesionats_lleus":"Mild injuries","Numero_lesionats_greus":"Serious injuries"
,"Numero_victimes":"Victims","Numero_morts":"Deaths"}, inplace=True)

accidents_2016.replace(to_replace = "Desconegut", value ="Unknown",inplace=True)
accidents_2016 = accidents_2016.groupby(["District Name"]).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10140 entries, 0 to 10139
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Numero_expedient           10140 non-null  object
 1   Codi_districte             10140 non-null  int64
 2   Nom_districte              10140 non-null  object
 3   Codi_barri                 10140 non-null  int64
 4   Nom_barri                  10140 non-null  object
 5   Codi_carrer                10140 non-null  int64
 6   Nom_carrer                 10140 non-null  object
 7   Num_postal                 10135 non-null  object
 8   Descripcio_dia_setmana     10140 non-null  object
 9   Dia_setmana                10140 non-null  object
 10  Descripcio_tipus_dia       10140 non-null  object
 11  Any                        10140 non-null  int64
 12  Mes_any                    10140 non-null  int64
 13  Nom_mes                    10140 non-null  object
 14  Dia_mes                    10140 non-null  int64
 15  Hora_dia                   10140 non-null  int64
 16  Descripcio_torn            10140 non-null  object
 17  Descripcio_causa_vianant   10140 non-null  object
 18  Numero_morts               10140 non-null  int64
 19  Numero_lesionats_lleus     10140 non-null  int64
 20  Numero_lesionats_greus     10140 non-null  int64
 21  Numero_victimes            10140 non-null  int64
 22  Numero_vehicles_implicats  10140 non-null  int64
 23  Coordenada_UTM_X           10140 non-null  float64
 24  Coordenada_UTM_Y           10140 non-null  float64
 25  Longitud                   10140 non-null  float64
 26  Latitud                    10140 non-null  float64
 27  Accidents                  10140 non-null  int64
dtypes: float64(4), int64(13), object(11)
memory usage: 2.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Any               592 non-null    int64
 1   Codi_Districte    592 non-null    int64
 2   Nom_Districte     592 non-null    object
 3   Codi_Barri        592 non-null    int64
 4   Nom_Barri         592 non-null    object
 5   Cilindrada_motos  592 non-null    object
 6   Nombre_motos      592 non-null    int64
dtypes: int64(4), object(3)
memory usage: 32.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10339 non-null  object
 2   Neighborhood Name  10339 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
 15  Accidents          10339 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Any               592 non-null    int64
 1   Codi_Districte    592 non-null    int64
 2   Nom_Districte     592 non-null    object
 3   Codi_Barri        592 non-null    int64
 4   Nom_Barri         592 non-null    object
 5   Cilindrada_motos  592 non-null    object
 6   Nombre_motos      592 non-null    int64
dtypes: int64(4), object(3)
memory usage: 32.5+ KB
None

In [3]:
motos_2016

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Cilindrada_motos,Nombre_motos
0,2016,1,Ciutat Vella,1,el Raval,Fins a 75 cc,98
1,2016,1,Ciutat Vella,2,el Barri Gòtic,Fins a 75 cc,99
2,2016,1,Ciutat Vella,3,la Barceloneta,Fins a 75 cc,220
3,2016,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Fins a 75 cc,149
4,2016,2,Eixample,5,el Fort Pienc,Fins a 75 cc,173
...,...,...,...,...,...,...,...
587,2016,10,Sant Martí,70,el Besòs i el Maresme,Més de 750 cc,99
588,2016,10,Sant Martí,71,Provençals del Poblenou,Més de 750 cc,178
589,2016,10,Sant Martí,72,Sant Martí de Provençals,Més de 750 cc,195
590,2016,10,Sant Martí,73,la Verneda i la Pau,Més de 750 cc,181
591,2016,99,No consta,99,No consta,Més de 750 cc,18

In [4]:
motos_2017 = motos_2017.replace(to_replace = "No consta", value ="Unknown")
motos_2017 = motos_2017.replace(to_replace = {"126 a 200":"126 a 200 cc", "Fins a 75 cc":"35 a 75 cc","Més de 750 cc":"750 a 1200 cc" })
motos_2016 = motos_2016.replace(to_replace = "No consta", value ="Unknown")
motos_2016 = motos_2016.replace(to_replace = {"126 a 200":"126 a 200 cc", "Fins a 75 cc":"35 a 75 cc","Més de 750 cc":"750 a 1200 cc" })

motos_distr = pd.pivot_table(data=motos_2016 ,values="Nombre_motos", index = "Nom_Districte",
                             columns="Cilindrada_motos",margins=True,aggfunc=sum)

accidents_2016

,Mild injuries,Serious injuries,Victims,Deaths,Accidents
District Name,,,,,
Ciutat Vella,538,15,554,1,531
Eixample,3712,50,3767,5,3118
Gràcia,529,6,536,1,501
Horta-Guinardó,876,7,885,2,727
Les Corts,879,21,904,4,739
Nou Barris,602,18,623,3,515
Sant Andreu,701,11,713,1,560
Sant Martí,1511,19,1530,0,1260
Sants-Montjuïc,1315,27,1347,5,1106
Sarrià-Sant Gervasi,1212,18,1236,6,1062
Unknown,20,0,20,0,21

In [5]:
df_merged=accidents_2016.merge(right=motos_distr, how="left",left_index=True,right_index=True)
df_merged=df_merged.rename({'All': 'total_bikes'}, axis=1)
df_merged=df_merged.sort_values(by="Accidents", ascending=False)

lst = ['126 a 200 cc', '201 a 250 cc', '251 a 300 cc', '301 a 500 cc',
       '35 a 75 cc', '501 a 750 cc', '75 a 125 cc', '750 a 1200 cc']
       
for i in lst:
       df_merged[i]=df_merged[i]/df_merged['total_bikes']

In [6]:
df_merged.columns

Index(['Mild injuries', 'Serious injuries', 'Victims', 'Deaths', 'Accidents',
       '126 a 200 cc', '201 a 250 cc', '251 a 300 cc', '301 a 500 cc',
       '35 a 75 cc', '501 a 750 cc', '75 a 125 cc', '750 a 1200 cc',
       'total_bikes'],
      dtype='object')

In [12]:
df_merged

,Mild injuries,Serious injuries,Victims,Deaths,Accidents,126 a 200 cc,201 a 250 cc,251 a 300 cc,301 a 500 cc,35 a 75 cc,501 a 750 cc,75 a 125 cc,750 a 1200 cc,total_bikes
District Name,,,,,,,,,,,,,,
Eixample,3712,50,3767,5,3118,3373,3129,1539,2460,1743,4186,21343,2994,40767
Sant Martí,1511,19,1530,0,1260,1665,1924,955,1446,721,3025,13091,1954,24781
Sants-Montjuïc,1315,27,1347,5,1106,1468,1673,756,1271,690,2571,10861,1461,20751
Sarrià-Sant Gervasi,1212,18,1236,6,1062,3839,2961,1967,2317,2578,2983,19491,2363,38499
Les Corts,879,21,904,4,739,1304,1202,689,935,858,1441,7563,1049,15041
Horta-Guinardó,876,7,885,2,727,1754,1847,985,1307,753,2765,12274,1487,23172
Sant Andreu,701,11,713,1,560,945,1130,559,962,443,1982,7841,1097,14959
Ciutat Vella,538,15,554,1,531,766,906,265,595,566,1137,6567,904,11706
Nou Barris,602,18,623,3,515,781,1079,477,905,436,1948,7537,945,14108
Gràcia,529,6,536,1,501,1648,1444,776,1068,853,1969,10556,1257,19571
Unknown,20,0,20,0,21,34,32,6,23,64,35,104,18,316

In [8]:
correlation = df_merged.corr()

In [13]:
correlation =correlation.sort_values(by="Deaths", ascending=False)
correlation

,Mild injuries,Serious injuries,Victims,Deaths,Accidents,126 a 200 cc,201 a 250 cc,251 a 300 cc,301 a 500 cc,35 a 75 cc,501 a 750 cc,75 a 125 cc,750 a 1200 cc,total_bikes
Deaths,0.524559,0.656754,0.528481,1.000000,0.529495,0.699141,0.667935,0.685298,0.689327,0.732484,0.531288,0.635194,0.589882,0.654947
35 a 75 cc,0.569445,0.498727,0.570028,0.732484,0.583833,0.963626,0.880812,0.946150,0.884295,1.000000,0.661140,0.869535,0.813243,0.885355
126 a 200 cc,0.711856,0.590670,0.711664,0.699141,0.721738,1.000000,0.968910,0.987042,0.967010,0.963626,0.823407,0.962973,0.924355,0.971564
301 a 500 cc,0.812165,0.706342,0.812147,0.689327,0.816617,0.967010,0.995475,0.964639,1.000000,0.884295,0.932079,0.992503,0.980052,0.995963
251 a 300 cc,0.659925,0.531930,0.659618,0.685298,0.665806,0.987042,0.964474,1.000000,0.964639,0.946150,0.835208,0.953774,0.910890,0.964865
201 a 250 cc,0.803715,0.686835,0.803501,0.667935,0.809669,0.968910,1.000000,0.964474,0.995475,0.880812,0.934781,0.997535,0.982683,0.999031
Serious injuries,0.922693,1.000000,0.925064,0.656754,0.924399,0.590670,0.686835,0.531930,0.706342,0.498727,0.719403,0.685210,0.758550,0.680884
total_bikes,0.801578,0.680884,0.801284,0.654947,0.808172,0.971564,0.999031,0.964865,0.995963,0.885355,0.931677,0.998939,0.983266,1.000000
75 a 125 cc,0.808761,0.685210,0.808384,0.635194,0.815823,0.962973,0.997535,0.953774,0.992503,0.869535,0.940215,1.000000,0.986322,0.998939
750 a 1200 cc,0.876207,0.758550,0.875802,0.589882,0.881035,0.924355,0.982683,0.910890,0.980052,0.813243,0.955551,0.986322,1.000000,0.983266
501 a 750 cc,0.841589,0.719403,0.840997,0.531288,0.839547,0.823407,0.934781,0.835208,0.932079,0.661140,1.000000,0.940215,0.955551,0.931677
Accidents,0.999231,0.924399,0.999255,0.529495,1.000000,0.721738,0.809669,0.665806,0.816617,0.583833,0.839547,0.815823,0.881035,0.808172
Victims,0.999980,0.925064,1.000000,0.528481,0.999255,0.711664,0.803501,0.659618,0.812147,0.570028,0.840997,0.808384,0.875802,0.801284
Mild injuries,1.000000,0.922693,0.999980,0.524559,0.999231,0.711856,0.803715,0.659925,0.812165,0.569445,0.841589,0.808761,0.876207,0.801578

Renaming Columns

In [182]:
df_merged.columns

Index(['Mild injuries', 'Serious injuries', 'Victims', 'Accidents',
       '126 a 200 cc', '201 a 250 cc', '251 a 300 cc', '301 a 500 cc',
       '35 a 75 cc', '501 a 750 cc', '75 a 125 cc', '750 a 1200 cc',
       'total_bikes', 'percent_750cc'],
      dtype='object')

In [ ]:
df_merged = df_merged[['Mild injuries', 'Serious injuries', 'Victims', 'Accidents',
       '126 a 200 cc', '201 a 250 cc', '251 a 300 cc', '301 a 500 cc',
       '35 a 75 cc', '501 a 750 cc', '75 a 125 cc', '750 a 1200 cc',
       'total_bikes', 'percent_750cc']
                     ]